<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RaspiBO makerspace booking</title>
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <link rel="stylesheet" href="css/themes/smoothness/jquery-ui.css">
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/ibt-init.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <script language="JavaScript">

$(document).ready(function() {

var submitForm = function() {
	var username = $('#username').val();
	var password = $('#password').val();

	$.ajax({
		url: '/login',
		type: 'POST',
		data: {
			username: username,
			password: password
		}
	}).success(function(data) {
		console.log(data);
		if (!data.success) {
			alert('unable to login: ' + data.msg);
		} else {
			document.location.href = "/";
		}
	});
};


$('#submit').click(submitForm);
$('#password').keypress(function(e) {
	if (e.which == 13) {
		submitForm();
		return false;
	}
});
$('#username').keypress(function(e) {
	if (e.which == 13) {
		$('#password').focus();
		return false;
	}
});


});
  </script>
</head>
<body>
<div id="header"><a href="/signup.html">sign up</a> | <a href="/">home</a> {% if reqProtocol == 'http' %} | <a href="https://{{reqHost}}:{{httpsPort}}/login.html">secure version</a>{% endif %}</div>

<h1><img src="/images/raspibo_logo_64.png" />&nbsp;Login</h1>
Logged in users can remove their own entries. Entries created by unregistered users can be removed by anyone.<br />
<br />
<label name="label_username">Username: </label><input type="text" name="username" id="username" />
<label name="label_password">Password: </label><input type="password" name="password" id="password" />
<input name="submit" type="submit" id="submit" />

<br />
<br />
<div id="footer">RaspiBO: <a href="http://raspibo.org">wiki</a> | <a href="http://social.raspibo.org">social network</a> | <a href="http://liste.raspibo.org/wws/">mailing lists</a></div>

</body>
