<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Makerspace booking</title>
  <link rel="stylesheet" href="css/themes/smoothness/jquery-ui.css">
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/utils.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <script>

var enabledDatesOfMonth = [];


var Group = Backbone.Model.extend({
	//urlRoot: 'http://localhost/illbethere/server/group.php',
	defaults: {name: '', members: []},

	addPerson: function(person) {
		log('Group.addPerson');
		log(person);
	},

	complete: function(frag) {
		log('Group.complete: ' + frag);
		return [];
	}
});

var Groups = Backbone.Collection.extend({
	url: '/illbethere/server/groups.php',
	model: Group
});

var Person = Backbone.Model.extend({
	urlRoot: 'http://localhost/illbethere/server/person.php',
	defaults: {name: '', groups: []}
});


var groups = new Groups();


function cbShowDay(date) {
	var enabled = false;
	var cls = '';
	if (enabledDatesOfMonth.indexOf(date.getDate()) > -1) {
		enabled = true;
		cls = 'selectable-date';
	}
	return [enabled, cls, ''];
}

function cbChangeMonthYear(year, month, dp) {
	log('change month ' + month + '/' + year);
	$.ajax({
		url: '/utils/valid-dates-in-month',
		dataType: 'json',
		data: {year: year, month: month}
	}).done(function(res) {
		enabledDatesOfMonth = res;
		$("#datepicker").datepicker('refresh');
	});
}


$(document).ready(function() {

//cbChangeMonthYear(2014, 4);

var GroupView = Backbone.View.extend({
	tagName: 'li',
	className: 'group-item',
	template: _.template($('#group-template').html()),

	events: {},

	initialize: function() {
		log('GroupView.initialize');
	},

	render: function() {
		log('GroupView.render');
		//this.$el.html(this.template(this.model.toJSON()));
		this.$el.html(this.template(this.model.attributes));
		return this;
	}
});


var AppView = Backbone.View.extend({
	el: $('#container'),

	// seems to be prevented by the DatePicker widget.
	events: {
		'click .selectable-date': 'dateChanged'
	},

	initialize: function() {
		log('AppView.initialize');
		//this.listenTo(this.model, 'change', this.render);
		this.listenTo(groups, 'sync', this.render);
	},

	render: function(x) {
		log('AppView.render: ' + x);
		$("#groups-list").empty();
		this.addAllGroups();
	},

	addGroup: function(group) {
		var view = new GroupView({model: group});
		this.$("#groups-list").append(view.render().el);
	},

	addAllGroups: function() {
		groups.each(this.addGroup, this);
	},

	dateChanged: function(date) {
		log('AppView.dateChanged');
		groups.fetch({data: {day: date}});
	}
});

var App = new AppView;

function cbOnSelect(dateFormat, dp) {
	log('cbOnSelect');
	$("#shown-date").text('' + dp.selectedDay + '/' + dp.selectedMonth + '/' + dp.selectedYear);
	App.dateChanged('' + dp.selectedYear + '-' + dp.selectedMonth + '-' + dp.selectedDay);
}

var datepickerOpts = {
	showAnim: 'fadeIn',
	beforeShowDay: cbShowDay,
	dateFormat: 'ISO_8601',
	firstDay: 1,
	onSelect: cbOnSelect,

	onChangeMonthYear: cbChangeMonthYear,
	//showOtherMonths: true,
	//selectOtherMonths: true,
};

$("#datepicker").datepicker(datepickerOpts);
// beforeShow seems to not work properly, in this case.
var now = new Date();
cbChangeMonthYear(now.getFullYear(), now.getMonth()+1, dp);

});
  </script>
</head>
<body>

<h1>RaspiBO: makerspace booking</h1>

<script type="text/template" id="group-template">
<div class="group-name">Group: <%- name %></div>
<div class="group-members">
	Presents:
	<ul class="group-members-list">
	<% _.each(members, function(person) { %><li><%= person.name %></li> <% }); %>
	</ul>
</div>
</script>

<div id="container">
<div id="dp">
Date: <div id="datepicker"></div>
</div>

<div id="panel">
	<div id="shown-date">Please select a day from the date picker.</div>
	<div id="active">
		<ul id="groups-list"></ul>
	</div>
</div>

</div>

</body>
</html>
